@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
/* variables */
:root {
    --text-color: #3A3938;
    --ui-color: #B0B0B0;
    --c1: #F8B605;
    --c2: #4AA254;
    --c3: #4E8CFF;
}

body{
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


h1 {
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: var(--text-color);
}

.header-no-login{
    display: flex;
    position: fixed;
    min-width: 100vw;
}

.header-menu{
    margin-right: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.header-logo{
    padding: 1rem;
}

a{
    text-decoration: none;
    color: var(--ui-color);
}

.app-window{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.querybox{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--ui-color);
    border-radius: 0.5rem;
}

.querybox > textarea{
    width: 100%;
    border: none;
    resize: none;
}

.querybox > textarea:focus{
    outline: none;
}

.querybox > div > button{
    padding: 0.5rem;
    border-radius: 50%;
    margin-right: .5rem;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.querybox > div > button:hover{
    background-color: #fafafa;
    cursor: pointer;
}